
* {
    font-family: 'Chewy', cursive;
}

body {
    margin: 2em;
}


.board p {
    color: #7f7f7e;
    font-size: 1.2em;
}

header div {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    width: 25%;
    margin: 0 auto;
    padding: 0.6em;
    display: none;
    font-size: 1.25em;
    margin-bottom: 0.7em;
}


.tic {
    width: 30%;
    height: 120px;
    background-color: cornsilk;
    border: 1px groove crimson;
}

.tic:nth-of-type(3n + 1) {
    clear: both;
}

.tic {
    cursor: pointer;
    float: left;
    font-size: 68px;
    text-align: center;
    margin-bottom: 10px;

}

.tic.x {
    color: crimson;
}

.tic.o {
    color: #3997ff ;
}

.board, .notice {
    display: none;
}

.notice {
    font-size: 24px;
    text-align: center;


}
form {
    clear: both;
    width: 50%;
    margin: 0 auto;
}

form div:last-of-type {
    margin-top: 10px;
}



a.play-again {
    font-size: 1.3em;
}


#tic {
    max-width: 600px;
    width: 60%;

}

.board {
    max-width: 250px;
    width: 35%;
    padding: 1em;
    text-align: center;
    background-color: beige;
    clear: none;
}


@media all and (max-width: 450px) {
    #tic {
        width: 100%;
    }
    .board {
        width: 100%;

    }

    form {
        width: 100%;
    }
}



@media all and (min-width: 1080px) {
    #tic {
        margin: 0 auto;
    }
}